{% extends 'blog/base.html' %}
{% block content %}
    <h1>Bosh sahifamiz</h1>
   
    {% for post in news %}
    <div class="alert alert-light">
        <h1>{{post.title}}</h1>
        <p>{{post.text}}</p>
        <div class='row'>
          <div>
            {% if post.auth.profile.img %}
              <img src="{{ post.auth.profile.img.url }}" alt="{{ post.auth }}" class="user_image">
             {% else %}
             <img src="/pictures/default.jpg" alt="{{ post.auth }}" class="user_image"> 
             {% endif %}
          </div>
          <div>
            <span class='text-muted'><b>Sana: </b>{{ post.date|date:"j F Y, H:i:s"}}</span>
            <p><b>Mualif: </b> <markdown>{{ post.auth }} </markdown>{{post.date}}</p>

          </div>        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block aside_news_section %}
<h3><b>Dasturlahga oid 10 film</b></h3>
<img src="https://static.terabayt.uz/crop/s/2/728_410_GWaXOUw_KTcPM1jw08g3pSV8wbLAcCwr.jpg"class="img-thumbnail mb-1" >
<p>Dasturlashni urganib borgan sarin dasturlash oid 
  filmalarga qiziqib borasan va ularni kurisshga istak buladi
</p>    
<a href="https://community.uzbekcoders.uz/post/dasturchilar-uchun-maxsus-filmlar-va-seriallar-10-taligi-5ece9de8063a7237b2607038" target="_blank">
  <button class="btn btn-warning">Ko'rish</button>
  {% endblock %}